#name {
    font-size: 96px;
}

h2 {
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

#contactContainer, #cardContainer {
    opacity: 0;
}

.card {
    border:none;
    margin-left: 15px;
    margin-top: 15px;
}

.card:hover {
    transition: 500ms;
    background: slategrey;
    color: blanchedalmond;
}

