body {
    text-shadow: 1px 1px black;   
    color: #FFB82A;
    height: 100%;
    background: linear-gradient(90deg, #A7283C 50%, #50232B 50%);
}

a {
   color: #FFB82A; 
   
}

a:hover {
    color: #E8FC0D ;
}