a {
    color: burlywood;
}

a:hover {
    color: blanchedalmond;
}

a:active {
    color: darkred;
}

body {
    
    background-image: url('../assets/mitchell-luo-zWysbA3BhZg-unsplash.jpg');
}
h1 {
    font-size: 96px;
}

h2 {
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

#accordion:active {
    color: blanchedalmond;
}

#contactContainer, #cardContainer {
    opacity: 0;
}

.card {
    border:none;
    margin-left: 15px;
    margin-top: 15px;
}

.card:active {
    transition: 150ms;
    background: slategrey;
    color: blanchedalmond;
}


